<% layout("layout") -%>

<h2>게시글 목록</h2>
<a href="/posts/new">글 작성</a>
<ul>
  <% posts.forEach(post => { %>
    <li>
      <a href="/posts/<%= post._id %>"><%= post.title %></a>
      - <%= post.author.username %>
    </li>
  <% }) %>
</ul>